{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1 class="space-h">All news in #{{ category }} ({{ paginator.count }})</h1>

    {% if category_news %}
        {% for single in category_news %}
            <div class="space-12">
                <a href="{% url 'single_detail' single.id %}"><h6>{{ single.headline|censor }}</h6></a>
                by <i>{{ single.author }}</i><br>
                {{ single.pub_date|date:'d F, Y' }}<br>
                {{ single.content|truncatewords:20|censor }}<br>
                {% if single.size == "AR" %}
                    <a href="{% url 'articles_update' single.id %}">Edit</a>
                    <a href="{% url 'articles_delete' single.id %}">Delete</a>
                {% else %}
                    <a href="{% url 'news_update' single.id %}">Edit</a>
                    <a href="{% url 'news_delete' single.id %}">Delete</a>
                {% endif %}<br>
                {% for category in single.category.all %}
                    <a href="{% url 'category_news' category.id %}">#{{ category }}</a>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <h4>Why is there no news here?</h4>
    {% endif %}

    {% if is_paginated %}
        <!-- а здесь переходы на первую -->
        {% if page_obj.has_previous and page_obj.number > 2 %}
            <a href="?page=1&{{ params }}"><<<</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}&{{ params }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        <!-- и на последнюю страницу соответсвенно -->
        {% if page_obj.has_next and page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
            <a href="?page={{ page_obj.paginator.num_pages }}&{{ params }}">>>></a>
        {% endif %}
    {% endif %}
{% endblock content %}
